.author-block {
  height: 200px ; 
  background-color: #c1c1c1 ; 
  border-radius: 12px; 
  -moz-border-radius: 12px ; 
  -webkit-border-radius:12px ; 
  padding: 10px; 
}
#collapsible-fieldset {
  width: 60% ;
  border-radius: 12px; 
  -moz-border-radius: 12px ; 
  -webkit-border-radius:12px ; 
  position: relative;
  left: 25% ; 
}
#author-content {
  float: right;
  height: 190px;
  width:  59% ; 
  border: 5px solid #4D4B4B ; 
  border-radius:12px  ;
  -moz-border-radius:12px  ;
  -webkit-border-radius:12px ;   
}
#author-content label {
  margin: 5px ;
  font-weight: bolder;   
}	
#author-content-margin {
  margin: 20px ;   
}	
#author-pic {
  float: left;
  border: 5px solid #4D4B4B ; 
  width: 35% ; 
  height: 190px ; 
  border-radius:12px  ;  
  -moz-border-radius:12px  ;
  -webkit-border-radius:12px 
}
